<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <div class="row marketing">
                <div class="col-lg-12">
                    <h3>User workhours</h3>
                    <br/>
                    <br/>
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>
                    <h:form>
                        <h:dataTable value="#{usersController.items}" var="item" styleClass="table">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="User"/>
                                    </f:facet>
                                    <h:outputText value="#{item.login}"/>
                                </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <h:outputText value="Hours"/>
                                </f:facet>
                                <h:dataTable value="#{workhoursList.getForUser(item.id)}" var="hour" styleClass="table">
                                    <h:column>
                                        <h:outputText value="#{eventsList.getEvent(hour.starteventid).eventtimestamp}" /> - <h:outputText value="#{eventsList.getEvent(hour.endeventid).eventtimestamp}" />
                                    </h:column>
                                </h:dataTable>
                            </h:column>
                         </h:dataTable>
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
