<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="body">

            <div class="row marketing">
                <div class="col-lg-12">
                    <h3>List</h3>
                    <h:form styleClass="jsfcrud_list_form">
                        <div class="pull-right">
                            <h:commandLink action="#{tokensController.prepareCreate}" styleClass="btn btn-info" value="#{bundle.ListTokensCreateLink}"/>
                        </div>
                        <br/>
                        <h:panelGroup id="messagePanel" layout="block">
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        </h:panelGroup>
                        <h:outputText escape="false" value="#{bundle.ListTokensEmpty}" rendered="#{tokensController.items.rowCount == 0}"/>
                        <h:panelGroup rendered="#{tokensController.items.rowCount > 0}">
                            <h:outputText value="#{tokensController.pagination.pageFirstItem + 1}..#{tokensController.pagination.pageLastItem + 1}/#{tokensController.pagination.itemsCount}"/>&nbsp;
                            <h:commandLink action="#{tokensController.previous}" value="#{bundle.Previous} #{tokensController.pagination.pageSize}" rendered="#{tokensController.pagination.hasPreviousPage}"/>&nbsp;
                            <h:commandLink action="#{tokensController.next}" value="#{bundle.Next} #{tokensController.pagination.pageSize}" rendered="#{tokensController.pagination.hasNextPage}"/>&nbsp;
                            <h:dataTable value="#{tokensController.items}" styleClass="table table-bordered" var="item">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListTokensTitle_id}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.id}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListTokensTitle_tag}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.tag}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:commandLink action="#{tokensController.prepareEdit}" value="#{bundle.ListTokensEditLink}"/>
                                    <h:outputText value=" "/>
                                    <h:commandLink action="#{tokensController.destroy}" value="#{bundle.ListTokensDestroyLink}"/>
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>

                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
