<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <div class="row marketing">
                <div class="col-lg-12">
                    <h3>Record Details</h3>
                    <div class="pull-right">
                        <h:commandLink action="#{bundle.ViewTokensEditLink}" styleClass="btn btn-info" value="Edit"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#{tokensController.prepareCreate}" styleClass="btn btn-info" value="#{bundle.ViewTokensShowAllLink}"/>
                    </div>
                    <br/>
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>
                    <h:form>
                        <h:panelGrid columns="2">
                            <h:outputText value="#{bundle.ViewTokensLabel_id}"/>
                            <h:outputText value="#{tokensController.selected.id}" title="#{bundle.ViewTokensTitle_id}"/>
                            <h:outputText value="#{bundle.ViewTokensLabel_tag}"/>
                            <h:outputText value="#{tokensController.selected.tag}" title="#{bundle.ViewTokensTitle_tag}"/>
                        </h:panelGrid>

                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
