<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <div class="row marketing">
                <div class="col-lg-12">
                    <h3>Record Details</h3>
                    <div class="pull-right">
                        <h:form>
                            <h:commandLink action="#{bundle.ViewLoggedEventsEditLink}" styleClass="btn btn-info" value="Edit"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{loggedEventsController.prepareCreate}" styleClass="btn btn-info" value="#{bundle.ViewLoggedEventsShowAllLink}"/>
                        </h:form>
                    </div>
                    <br/>
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>
                    <h:form>
                        <h:panelGrid columns="2">
                            <h:outputText value="#{bundle.ViewLoggedEventsLabel_id}"/>
                            <h:outputText value="#{loggedEventsController.selected.id}" title="#{bundle.ViewLoggedEventsTitle_id}"/>
                            <h:outputText value="#{bundle.ViewLoggedEventsLabel_eventtype}"/>
                            <h:outputText value="#{loggedEventsController.selected.eventtype}" title="#{bundle.ViewLoggedEventsTitle_eventtype}"/>
                            <h:outputText value="#{bundle.ViewLoggedEventsLabel_eventtimestamp}"/>
                            <h:outputText value="#{loggedEventsController.selected.eventtimestamp}" title="#{bundle.ViewLoggedEventsTitle_eventtimestamp}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:panelGrid>

                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
