<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <div class="row marketing">
                <div class="col-lg-12">
                    <h3>Edit</h3>
                    <h:form>
                    <div class="pull-right">
                        <h:commandLink action="#{scheduledhoursController.prepareList}" styleClass="btn btn-info" value="#{bundle.EditScheduledhoursShowAllLink}"/>
                    </div>
                    </h:form>
                    <br/>
                    <br/>
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>
                    <h:form>
                        <h:panelGrid columns="2" styleClass="table">
                            <h:outputLabel value="#{bundle.EditScheduledhoursLabel_userid}" for="userid" />
                            <h:selectOneMenu value="#{scheduledhoursController.selected.userid}" styleClass="form-control" id="userid" title="#{bundle.CreateScheduledhoursTitle_userid}" required="true" requiredMessage="#{bundle.CreateScheduledhoursRequiredMessage_userid}">
                                <f:selectItems value="#{usersList.users}" var="user" itemValue="#{user.id}" itemLabel="#{user.login}" />
                            </h:selectOneMenu>
                            <h:outputLabel value="#{bundle.EditScheduledhoursLabel_weekday}" for="weekday" />
                            <h:selectOneMenu styleClass="form-control" id="weekday" value="#{scheduledhoursController.selected.weekday}" title="#{bundle.CreateScheduledhoursTitle_weekday}" required="true" requiredMessage="#{bundle.CreateScheduledhoursRequiredMessage_weekday}">
                                <f:selectItem itemValue="monday" itemLabel="Monday"/>
                                <f:selectItem itemValue="tuesday" itemLabel="Tuesday"/>
                                <f:selectItem itemValue="wednesday" itemLabel="Wednesday"/>
                                <f:selectItem itemValue="thursday" itemLabel="Thursday"/>
                                <f:selectItem itemValue="friday" itemLabel="Friday"/>
                                <f:selectItem itemValue="saturday" itemLabel="Saturday"/>
                                <f:selectItem itemValue="sunday" itemLabel="Sunday"/>
                            </h:selectOneMenu>
                            <h:outputLabel value="#{bundle.EditScheduledhoursLabel_starthour}" for="starthour" />
                            <h:selectOneMenu id="starthour" styleClass="form-control" value="#{scheduledhoursController.selected.starthour}" title="#{bundle.CreateScheduledhoursTitle_starthour}" required="true" requiredMessage="#{bundle.CreateScheduledhoursRequiredMessage_starthour}">
                                <f:selectItem itemValue="7:00" itemLabel="7:00"/>
                                <f:selectItem itemValue="8:00" itemLabel="8:00"/>
                                <f:selectItem itemValue="9:00" itemLabel="9:00"/>
                                <f:selectItem itemValue="10:00" itemLabel="10:00"/>
                                <f:selectItem itemValue="11:00" itemLabel="11:00"/>
                                <f:selectItem itemValue="12:00" itemLabel="12:00"/>
                                <f:selectItem itemValue="13:00" itemLabel="13:00"/>
                                <f:selectItem itemValue="14:00" itemLabel="14:00"/>
                                <f:selectItem itemValue="15:00" itemLabel="15:00"/>
                                <f:selectItem itemValue="16:00" itemLabel="16:00"/>
                                <f:selectItem itemValue="17:00" itemLabel="17:00"/>
                                <f:selectItem itemValue="18:00" itemLabel="18:00"/>
                                <f:selectItem itemValue="19:00" itemLabel="19:00"/>
                                <f:selectItem itemValue="20:00" itemLabel="20:00"/>
                                <f:convertDateTime pattern="HH:mm"/>
                            </h:selectOneMenu>
                            <h:outputLabel value="#{bundle.EditScheduledhoursLabel_endhour}" for="endhour" />
                            <h:selectOneMenu id="endhour" styleClass="form-control" value="#{scheduledhoursController.selected.endhour}" title="#{bundle.CreateScheduledhoursTitle_endhour}" required="true" requiredMessage="#{bundle.CreateScheduledhoursRequiredMessage_endhour}">
                                <f:selectItem itemValue="7:00" itemLabel="7:00"/>
                                <f:selectItem itemValue="8:00" itemLabel="8:00"/>
                                <f:selectItem itemValue="9:00" itemLabel="9:00"/>
                                <f:selectItem itemValue="10:00" itemLabel="10:00"/>
                                <f:selectItem itemValue="11:00" itemLabel="11:00"/>
                                <f:selectItem itemValue="12:00" itemLabel="12:00"/>
                                <f:selectItem itemValue="13:00" itemLabel="13:00"/>
                                <f:selectItem itemValue="14:00" itemLabel="14:00"/>
                                <f:selectItem itemValue="15:00" itemLabel="15:00"/>
                                <f:selectItem itemValue="16:00" itemLabel="16:00"/>
                                <f:selectItem itemValue="17:00" itemLabel="17:00"/>
                                <f:selectItem itemValue="18:00" itemLabel="18:00"/>
                                <f:selectItem itemValue="19:00" itemLabel="19:00"/>
                                <f:selectItem itemValue="20:00" itemLabel="20:00"/>
                                <f:convertDateTime pattern="HH:mm"/>
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <h:commandLink action="#{scheduledhoursController.update}" value="#{bundle.EditScheduledhoursSaveLink}"/>
                        <br />
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
