<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="body">

            <div class="row marketing">
                <div class="col-lg-12">
                    <h3>List</h3>
                    <h:form>
                    <div class="pull-right">
                        <h:commandLink action="#{scheduledhoursController.prepareCreate}" styleClass="btn btn-info" value="#{bundle.ListScheduledhoursCreateLink}"/>
                    </div>
                    </h:form>
                    <br/>
                    <br/>
                    <h:form styleClass="jsfcrud_list_form">
                        <h:panelGroup id="messagePanel" layout="block">
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        </h:panelGroup>
                        <h:outputText escape="false" value="#{bundle.ListScheduledhoursEmpty}" rendered="#{scheduledhoursController.items.rowCount == 0}"/>
                        <h:panelGroup rendered="#{scheduledhoursController.items.rowCount > 0}">
                            <h:outputText value="#{scheduledhoursController.pagination.pageFirstItem + 1}..#{scheduledhoursController.pagination.pageLastItem + 1}/#{scheduledhoursController.pagination.itemsCount}"/>&nbsp;
                            <h:commandLink action="#{scheduledhoursController.previous}" value="#{bundle.Previous} #{scheduledhoursController.pagination.pageSize}" rendered="#{scheduledhoursController.pagination.hasPreviousPage}"/>&nbsp;
                            <h:commandLink action="#{scheduledhoursController.next}" value="#{bundle.Next} #{scheduledhoursController.pagination.pageSize}" rendered="#{scheduledhoursController.pagination.hasNextPage}"/>&nbsp;
                            <h:dataTable value="#{scheduledhoursController.items}" var="item" styleClass="table">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListScheduledhoursTitle_id}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.id}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="Username"/>
                                    </f:facet>
                                    <h:outputText value="#{usersList.getUser(item.userid)}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListScheduledhoursTitle_weekday}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.weekday}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListScheduledhoursTitle_starthour}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.starthour}">
                                        <f:convertDateTime pattern="HH:mm" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListScheduledhoursTitle_endhour}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.endhour}">
                                        <f:convertDateTime pattern="HH:mm" />
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:commandLink action="#{scheduledhoursController.prepareView}" value="#{bundle.ListScheduledhoursViewLink}"/>
                                    <h:outputText value=" "/>
                                    <h:commandLink action="#{scheduledhoursController.prepareEdit}" value="#{bundle.ListScheduledhoursEditLink}"/>
                                    <h:outputText value=" "/>
                                    <h:commandLink action="#{scheduledhoursController.destroy}" value="#{bundle.ListScheduledhoursDestroyLink}"/>
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>

                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
