<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="body">
            <div class="row marketing">
                <div class="col-lg-12">
                    <h3>Edit</h3>
                    <div class="pull-right">
                        <h:commandLink action="#{workhoursController.prepareList}" styleClass="btn btn-info" value="#{bundle.EditWorkhoursShowAllLink}"/>
                    </div>
                    <br/>
                    <h:panelGroup id="messagePanel" layout="block">
                        <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                    </h:panelGroup>
                    <h:form>
                        <h:panelGrid columns="2">
                            <h:outputLabel value="#{bundle.EditWorkhoursLabel_id}" for="id" />
                            <h:inputText styleClass="form-control" id="id" value="#{workhoursController.selected.id}" title="#{bundle.EditWorkhoursTitle_id}" required="true" requiredMessage="#{bundle.EditWorkhoursRequiredMessage_id}"/>
                            <h:outputLabel value="#{bundle.EditWorkhoursLabel_userid}" for="userid" />
                            <h:inputText styleClass="form-control" id="userid" value="#{workhoursController.selected.userid}" title="#{bundle.EditWorkhoursTitle_userid}" required="true" requiredMessage="#{bundle.EditWorkhoursRequiredMessage_userid}"/>
                            <h:outputLabel value="#{bundle.EditWorkhoursLabel_starteventid}" for="starteventid" />
                            <h:inputText styleClass="form-control" id="starteventid" value="#{workhoursController.selected.starteventid}" title="#{bundle.EditWorkhoursTitle_starteventid}" required="true" requiredMessage="#{bundle.EditWorkhoursRequiredMessage_starteventid}"/>
                            <h:outputLabel value="#{bundle.EditWorkhoursLabel_endeventid}" for="endeventid" />
                            <h:inputText styleClass="form-control" id="endeventid" value="#{workhoursController.selected.endeventid}" title="#{bundle.EditWorkhoursTitle_endeventid}" required="true" requiredMessage="#{bundle.EditWorkhoursRequiredMessage_endeventid}"/>
                        </h:panelGrid>
                        <h:commandLink action="#{workhoursController.update}" value="#{bundle.EditWorkhoursSaveLink}"/>
                        <br />
                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
