<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="body">

            <div class="row marketing">
                <div class="col-lg-12">
                    <h3>List</h3>
                    <div class="pull-right">
                        <h:commandLink action="#{workhoursController.prepareCreate}" styleClass="btn btn-info" value="#{bundle.ListWorkhoursCreateLink}"/>
                    </div>
                    <br/>
                    <h:form styleClass="jsfcrud_list_form">
                        <h:panelGroup id="messagePanel" layout="block">
                            <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                        </h:panelGroup>
                        <h:outputText escape="false" value="#{bundle.ListWorkhoursEmpty}" rendered="#{workhoursController.items.rowCount == 0}"/>
                        <h:panelGroup rendered="#{workhoursController.items.rowCount > 0}">
                            <h:outputText value="#{workhoursController.pagination.pageFirstItem + 1}..#{workhoursController.pagination.pageLastItem + 1}/#{workhoursController.pagination.itemsCount}"/>&nbsp;
                            <h:commandLink action="#{workhoursController.previous}" value="#{bundle.Previous} #{workhoursController.pagination.pageSize}" rendered="#{workhoursController.pagination.hasPreviousPage}"/>&nbsp;
                            <h:commandLink action="#{workhoursController.next}" value="#{bundle.Next} #{workhoursController.pagination.pageSize}" rendered="#{workhoursController.pagination.hasNextPage}"/>&nbsp;
                            <h:dataTable value="#{workhoursController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListWorkhoursTitle_id}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.id}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListWorkhoursTitle_userid}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.userid}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListWorkhoursTitle_starteventid}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.starteventid}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{bundle.ListWorkhoursTitle_endeventid}"/>
                                    </f:facet>
                                    <h:outputText value="#{item.endeventid}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="&nbsp;"/>
                                    </f:facet>
                                    <h:commandLink action="#{workhoursController.prepareView}" value="#{bundle.ListWorkhoursViewLink}"/>
                                    <h:outputText value=" "/>
                                    <h:commandLink action="#{workhoursController.prepareEdit}" value="#{bundle.ListWorkhoursEditLink}"/>
                                    <h:outputText value=" "/>
                                    <h:commandLink action="#{workhoursController.destroy}" value="#{bundle.ListWorkhoursDestroyLink}"/>
                                </h:column>
                            </h:dataTable>
                        </h:panelGroup>

                    </h:form>
                </div>
            </div>
        </ui:define>
    </ui:composition>

</html>
