<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
        
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </h:head>
    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="body">
                
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h3>View session expired</h3>
                    </div>
                </div>
                
            </ui:define>
        </ui:composition>

    </h:body>
</html>

